p{ 
    border: 1px solid black;
    outline-style: dashed;
}

.red{
    outline-color: red;
}
.green{
    outline-color: green;
}
.blue{
    outline-color: blue;
}
.invert{
    outline-color: invert;
}
