#p_01 {
    height: 50px;
    width: 200px;
    background: #DAA520;
    padding: 20px; 
    border-radius: 25px;
}
#div_01 {
    height: 50px;
    width: 200px;
    padding: 20px; 
    border: solid 3px #DAA520;
    border-radius: 25px;
}