input{
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: solid 2px orange;
    border-radius: 5px;
    font-size: 14px;
    background-image: url("/src/img/macbook.jpg");
    background-position: 5px 4px;
    background-repeat: no-repeat;

}
