body{
	margin: 0;
}
a {
	text-decoration: none;
	color: #000000;
}

a:hover /* :hover 정상 : hover 오류*/ {
	text-decoration: underline;
	
}
ul, li {
	list-style: none;
	padding:0;
	margin:0;
}
#wrap{
	width: 960px;
	margin: 0 auto;
	background: #eeeeee;
}
#header {
	background:#eeeeee;
	padding: 20px;
}
#header span{
	float:left;
}
#content {
	padding:20px;
}
#content img
{
	width:100%;
}
#footer
{
	background: #000000;
	height: 50px;
	text-align: center;
	padding: 20px;
}
#footer span {
	color:#ffffff;

}
.clear{
	clear: both;
}
.bbslist {
	width:100%;
	border-spacing:0;
	
}
.bbslist thead tr th {
	background:#dddddd;
	border-bottom: 2px solid #999999;
	padding:10px;
	border-top: 2px solid #999999;
}
.bbslist tbody tr td {
	padding:5px;
	border-bottom: 1px solid #bbbbbb;
	text-align:center;
	font-size:12px;
}
.bbslist .t_subject{
	width:65%;
	text-align:left;
}
.bbslist .t_subject .t_comment {
	font-size:12px;
	color:#ff2222;
}
.bbslist .t_subject .t_hasimage {
	background: url("img/hasimg.png") no-repeat;
	width:12px;
	height:12px;
	display:inline-block;
}
.bbslist .t_notice {
	background: #bbbbbb;
}

.bbslist .t_notice .t_subject a {
	color: #774500;
	font-weight: bold;
}

.bbslist .t_notice .t_subject .t_comment {
	color: #FFF300;
	font-weight: bold;
}

.bbslist .t_notice .t_number span {
	background:#FFF300;
	font-size:11px;
	padding:2px;
	
}

.bbslist tfoot {
	text-align:right;
}
.bbslist tfoot tr td {
	padding:10px;
	border-bottom: 2px solid #bbbbbb;
	border-top: 2px solid #bbbbbb;
}
.bbslist tfoot .btnWrite {
	border: 1px solid #bbbbbb;
	font-size:12px;
	padding:6px;
	background: #ffffff;
}
.bbslist tfoot .btnWrite:hover {
	text-decoration: none;
	background:#FFF300;
}
.pageList {
	display:inline-block;
	margin-top:18px;/*tfoot이랑 조금 떨어지게 설정*/
}
.pageContainer {
	width:100%;
	text-align:center;
}

.pageList li {
	float:left; /* 가로로 되어있는 1,2,3,4,5를 세로로 변경*/
	background:#ffffff;
	padding:5px;
	border: 1px solid #bbbbbb;
}

.pageList li a {
	background:#ffffff;
}

.searchContainer {
	width:100%;
	text-align: center;
	margin-top:10px;/*위에 내용과 조금 떨어지기*/
}


