body{
	margin: 0;
}
a {
	text-decoration: none;
	color: #000000;
}
#wrap{
	width: 960px;
	margin: 0 auto;
	background: #eeeeee;
}
#header {
	background:#eeeeee;
	padding: 20px;
}
#header span{
	float:left;
}
#content {
	padding:20px;
}
#content img
{
	width:100%;
}
#footer
{
	background: #000000;
	height: 50px;
	text-align: center;
	padding: 20px;
}
#footer span {
	color:#ffffff;

}
.clear{
	clear: both;
}
.movietable {
	width:100%;
	
}
.movietable th {
	background:#eeee99;
	padding-top:5px;
	padding-bottom:5px;
}
.movietable .poster{
	width:15%;
}
.movietable .director{
	width:15%;
}
.movietable .date{
	width:10%;
}
.movietable .number {
	width:5%;
}
.movietable td {
	border-bottom: 1px solid #dddddd;
	padding-left:10px;
}
.movietable .number {
	text-align:center;
	padding-left:0px;
}
.movietable .odd {
	background:#eeee11;
}
.movietable .odd .director {
	background:#cccccc;
}

.movietable tr:hover {
	background:#dddddd;
}
.movietable tfoot td {
	border-bottom: 2px solid #cccccc;
	background:#333333;
}