body{
	margin: 0;
}
a {
	text-decoration: none;
	color: #000000;
}
ul, li {
	padding:0;
	margin:0;
	list-style:none;
}
#wrap{
	width: 960px;
	margin: 0 auto;
	background: #eeeeee;
}
#header {
	background:#eeeeee;
	padding: 20px;
}
#header span{
	float:left;
}
#content {
	padding:20px;
}
#content img
{
	width:100%;
}
#footer
{
	background: #000000;
	height: 50px;
	text-align: center;
	padding: 20px;
}
#footer span {
	color:#ffffff;

}
.clear{
	clear: both;
}
#nav > li {
	float:left;
	background:#eeeeee;
}
#nav > li:hover{
	
	background:#eeee11
}
#nav > li > a {
	display: block;
	padding:12px 65px;
	border-right:1px solid #666666;
}